extends layout

block content
    h1.
        Total user signup is #{userlist.length}
    ul
        each user, i in userlist
            li
                a(href="mailto:#{user.email}")= user.firstname